<h1>LISTS</h1>

<div class="list-board">
  <div class="list-form">
     <%= form_for List.new do |l| %>
       <fieldset>
         <div class="li-form-group">
           <%= l.label :create %>
           <%= l.text_field :name, :required => false, :placeholder => 'Name e.g. To Do', :class => "form-control" %>
         </div>
  </div>
   </fieldset>
 <% end %>

<div class="container">
 <div class="row">
   <div class="col-md-4">
     <% @lists.each do |list| %>
       <ul>
         <li class="go"><h3 class="clicky" data-lname="<%= list.name %>"><%= list.name %></h3></li>
       </ul>
     <% end %>
   </div>

<div style="width:400px; height:400px; overflow: auto;">
   <div class="col-md-8" id="tasksec">
     <% @lists.each do |list| %>
     <% infoClass = list.name.gsub(' ', '-') %>
       <div class="info-<%= infoClass %> infobox hidey">  <!-- NEW -->
         <h3><%= link_to list.name, list %></h3>

         <div class="li-form-group">
           <%= form_for Task.new do |t| %>
             <%= hidden_field_tag 'task[list_id]', list.id %>
             <%= t.text_area :name, class: "form-control" %>
             <%= t.submit "Add task", class: "btn btn-default add-task-btn" %>
           <% end %>
         </div>
         <ul>
            <br>
           <% list.tasks.each do |task| %>
             <p><input type="checkbox"><%= task.name %></p>
           <% end %>
         </ul>
       </div>
     <% end %>
   </div>
   </div>
 </div>
</div>
