<h1>Create new list</h1>

<div class="list-board">
  <%= form_for @list do |l| %>
      <fieldset>
        <ul>
          <!-- <li> -->
        <%= l.label :name %>
        <%= l.text_field :name, :required => false, :placeholder => 'Name e.g. To Do' %>
      <!-- </li> -->
      <li>
        <%= l.text_field :item, :required => true, :placeholder => 'Book Paris hotel' %>
        <%= l.submit "Add item" %>
      </li>
    </ul>
      </fieldset>
    <% end %>
