<h1>NOTES</h1>

<div class="note-board">
  <div class="note-form">
    <%= form_for Note.new do |l| %>
      <fieldset>
        <div class="note-form-group">
          <%= l.label :create %>
          <%= l.text_field :heading, :required => true, :placeholder => 'Name e.g. Transport notes', :class => "form-control" %>
        </div>
  </div>
      </fieldset>
    <% end %>

    <div class="container">
     <div class="row">
       <div class="col-md-4">
         <% @notes.each do |note| %>
           <ul>
             <li class="go"><h3 class="clicky" data-lname="<%= note.heading %>"><%= note.heading %></h3></li>
           </ul>
         <% end %>
       </div>

  <div style="width:350px; height:400px; overflow: auto;" >
    <div class="col-md-8" id="tasksec">
    <% @notes.each do |note| %>
    <% infoClass = note.heading.gsub(' ', '-') %>
    <!-- allows for note headings with more than 3 words to be recognised by function -->
    <div class="info-<%= infoClass %> infobox hidey">
      <h3><%= link_to note.heading, note %></h3>

        <div class="li-form-group">
          <%= form_for Note.new do |t| %>

            <%= t.text_area :date, :required => true, :placeholder => '03.04.18', :class => "form-control" %>
            <%= t.text_area :note, :required => true, :placeholder => 'Book trains 3 months before date', :class => "form-control", id: "notearea" %>
            <%= t.submit "Add note", class: "btn btn-default add-task-btn" %>
          <% end %>
        </div>
          <ul>
             <br>
              <li class="go"><span class="catheads"> Date </span><%= note.date %></li>
              <li class="go"><span class="catheads"> Note </span><%= note.note %></li>
          </ul>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
