<h1><%= @city.name %></h1>

  <p> Country: <%= @city.country.name%></p>
  <p> Language: <%= @city.language %> </p>
  <p> Attractions: <%= @city.attraction %> </p>


<%= @capital_city %>
<%= @region %>
<%= @language %>
